module [[.ModuleName]]

go 1.25

require (
	github.com/go-playground/validator/v10 v10.22.0
	github.com/gorilla/websocket v1.5.3
	github.com/livefir/livetemplate v0.0.0
	modernc.org/sqlite v1.39.0
)

//go:tool github.com/sqlc-dev/sqlc/cmd/sqlc
