{{with .Settings}}
{{$theme := .Theme}}
{{$lang := .Language}}
<div>
    <div>
        <h3>{{$theme}} Theme</h3>
        <p>Language: {{$lang}}</p>
        <p>Total items: {{$.Count}}</p>
    </div>
</div>
{{end}}
